{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}
<ul>
	{{ range .Paginator.Pages }}
	<li>
		<a href="{{ .Permalink }}">{{ .Title }}</a>
		<small>{{ .Params.location }}</small>
	</li>
	{{ end }}
</ul>
{{ end }}
