{{ define "main" }}
<article>
	<header>
		<h1>{{ .Title }}</h1>
	</header>
	<main>
		<ul>
			<li><strong>Base URL</strong>: <a href="{{ .Params.location }}">{{ .Params.location }}</a></li>
			<li><strong>Upstream</strong>: <a href="{{ .Params.upstream }}">{{ .Params.upstream }}</a></li>
		</ul>
		{{ .Content }}
	</main>
</article>
{{ end }}
