{{- define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}
<ul>
	{{- range sort .Paginator.Pages "Title" }}
	<li>
		<a href="{{ .Permalink }}">{{ .Title }}</a>
			<small>
				{{ .Summary }}
				{{- range .Params.tags }}
				<a href="/tags/{{ . | lower }}">#{{ . }}</a>
				{{- end }}
			</small>
	</li>
	{{- end }}
</ul>
{{- end }}
