{{- $cssMain := resources.Get "theme/main.scss" | resources.ToCSS | fingerprint -}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ $cssMain.Permalink }}">
		{{- range .AlternativeOutputFormats }}
		<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}" href="{{ .Permalink }}">
		{{- end }}
		<title>{{ .Page.Title }} - {{ .Site.Title }}</title>
		{{- block "head" . }}
		{{- end }}
	</head>
	<body>
		{{- block "body" . }}
		<header id="site-header">
			<div class="container">
				<nav>
					<a href="/" class="brand-name">{{ .Site.Title }}</a>
					{{- range sort .Site.Sections "Title" }}
					<a href="{{ .Permalink }}">{{ .Title }}</a>
					{{- end }}
				</nav>
			</div>
		</header>
		<main id="site-main">
			<div class="container">
				{{- block "main" . }}{{ end }}
			</div>
		</main>
		<footer id="site-footer">
			<div class="container">
				<hr>
				<p>&copy; 2016 - {{ now.Year }} &ndash; Patrick "tyil" Spek</p>
				<p>
					All content is licensed as per the license shown below
					that content.  All other sources (html, css, ...) are
					released under the terms of the <a
					href="https://www.gnu.org/licenses/gpl-3.0.txt">GNU GPL,
					version 3</a> or later.
				</p>
			</div>
		</footer>
		{{- end }}
	</body>
</html>
