{{ define "main" }}
<h1>Posts tagged with #{{ .Title }}</h1>
{{ .Content }}
<ul>
	{{ range .Paginator.Pages }}
		<li>
			<a href="{{ .Permalink }}">
				{{ .Title }}
			</a>
			<small>
				{{ .Date | dateFormat "2006-01-02" }}
				{{- range .Params.tags }}
					<a href="/tags/{{ . | lower }}">#{{ . }}</a>
				{{- end }}
			</small>
		</li>
	{{ end }}
</ul>
{{ end }}
