{{- define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}
{{- range .Sections }}
	<h2>{{ .Title }}</h2>
	<ul>
		{{- range .Pages }}
		<li>
			<a href="{{ .Permalink }}">{{ .Title }}</a>
			<small>
				{{ .Date | dateFormat "2006-01-02" }}
				{{- range .Params.tags }}
				<a href="/tags/{{ . | lower }}">#{{ . }}</a>
				{{- end }}
			</small>
		</li>
		{{- end }}
	</ul>
{{- end }}
{{- end }}
