{{ define "main" }}
<article>
	<header>
		<h1>{{ .Title }}</h1>
		{{- range .Params.tags }}
		<a href="/tags/{{ . | lower }}">#{{ . }}</a>
		{{- end }}
		{{- if .Draft }}
		<section class="admonition">
			<div class="admonition-title">
				draft
			</div>
			<div class="admonition-content">
				This blog post is still a
				<strong>draft</strong>. It has most likely been
				shared with you for reviewing purposes. Please
				do not yet share this with other people.
			</div>
		</section>
		{{- end }}
	</header>
	<main>
		{{ .Content }}
	</main>
	<footer>
		<p class="text-center">
			<a class="image-link" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
				<img alt="Creative Commons License" src="/img/cc-by-sa.png">
			</a>
		</p>
	</footer>
</article>
{{ end }}
