{{ define "main" }}
<article>
	<header>
		<h1>
			{{ .Page.Title }}
		</h1>
		<small>
		</small>
	</header>
	<main>
		{{ .Content }}
	</main>
	<footer>
		<p class="text-center">
			<a class="image-link" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
				<img alt="Creative Commons License" src="/img/cc-by-sa.png" />
			</a>
		</p>
	</footer>
</article>
{{ end }}
